body{
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
.header{
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.6), rgba(4,9,30,0.6)), url(images/oil-background.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 6%;
}
.navigation-links{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}
.navigation-links-left img{
  width: 150px;
}
.navigation-links-right{
  align-items: center;
}
.navigation-links-right ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  color: white;
}
.navigation-links-right ul{
  padding-left: 0;
}
.navigation-links-right ul li::after{
  content: "";
  height: 2px;
  width: 0%;
  display: block;
  background: #1967fd;
}
.navigation-links-right ul li:hover::after{
  width: 100%;
  transition: 1s;
  cursor: pointer;
}
.navigation-links-right ul li a{
  text-decoration: none;
  color: white;
}
nav .fa-solid{
  display: none;
}
.content{
  width: 80%;
  text-align: left;
  margin: auto;
  color: white;
  margin-top: 25px;
}
.content h1{
  font-size: 60px;
  margin-bottom: 0;
  margin-top: 0;
}
.content p{
  font-size: 17px;
  width: 65%;
}
.button-container{
  display: flex;
  gap: 50px;
  width: 80%;
  text-align: left;
  margin: auto;
  margin-top: 50px;
}
.fill-btn{
  padding: 12px 34px;
  color: white;
  font-size: 15px;
  font-weight: 500;
  border: 1px solid white;
  background: transparent;
  cursor: pointer;
}
.fill-btn:hover{
  background:  rgb(22, 182, 102);
  border: 1px solid  rgb(22, 182, 102);
  transition: 1s ease-in-out;
}
.footer{
  text-align: center;
  margin: 40px;

}
.footer i{
  color: white;
  font-size: 15px;
  padding-right: 20px;
}
.footer i:hover{
  color: rgb(22, 182, 102);
  transform: scale(2.0);
  transition: 0.5s;
  padding-left: 10px;
}
@media(max-width: 800px){
  .header{
    height: 100%;
  }
  .navigation-links-right ul li{
    display: block;
}
  .navigation-links-right{
    position: fixed;
    height: 100vh;
    background: rgba(10, 76, 254, 1);
    top: -100vh;
    right: 0;
    left: 0;
    text-align: left;
    transition: 1.25s;
  }
  nav .fa-solid{
    display: block;
    color: white;
    font-size: 20px;
    margin: 30px;
  }
  .navigation-links-right ul{
    padding: 30px;
    text-align: center;
    margin: 0;
  }
  .navigation-links-right ul li{
    padding: 30px 0;
  }
  .navigation-links-right ul li::after{
    display: none;
  }
  .content h1{
    font-size: 40px;
  }
  .content p{
    font-size: 17.5px;
    width: 100%;
    margin-top: 0;
  }
  .fill-btn{
    font-size: 12px;
    padding: 8px 12px;
  }
  .footer i:hover{
    color: white;
    transform: none;
    padding-left: 0px;
  }
}
@media(min-width: 1450px){
  .content{
    margin-top: 80px;
  }
  .content h1{
    font-size: 75px;
    margin-bottom: 0;
  }
  .content p{
    font-size: 23px;
    width: 80%;
  }
  .footer{
    margin-bottom: 0;
    margin-top: 220px;
  }
  .footer i:hover{
    color: rgb(22, 182, 102);
    transform: scale(2.0);
    transition: 0.5s;
    padding-left: 10px;
  }
}