body{
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  height: 100vh;
}
.header{
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.6), rgba(4,9,30,0.6)), url(images/oil-background.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 6%;
}
.navigation-links{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}
.navigation-links-left img{
  width: 150px;
}
.navigation-links-right{
  align-items: center;
}
.navigation-links-right ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  color: white;
}
.navigation-links-right ul{
  padding-left: 0;
}
.navigation-links-right ul li::after{
  content: "";
  height: 2px;
  width: 0%;
  display: block;
  background: #1967fd;
}
.navigation-links-right ul li:hover::after{
  width: 100%;
  transition: 1s;
  cursor: pointer;
}
.navigation-links-right ul li a{

}
nav .fa-solid{
  display: none;
}
.content{
  width: 80%;
  text-align: left;
  margin: auto;
  color: white;
  margin-top: 50px;
}
.content p{
  font-size: 14px;
  width: 65%;
}
@media(max-width: 800px){
  .navigation-links-right ul li{
    display: block;
}
  .navigation-links-right{
    position: fixed;
    height: 100vh;
    background: rgba(10, 76, 254, 1);
    top: -100vh;
    right: 0;
    left: 0;
    text-align: left;
    transition: 1.25s;
  }
  nav .fa-solid{
    display: block;
    color: white;
    font-size: 20px;
    margin: 30px;
  }
  .navigation-links-right ul{
    padding: 30px;
    text-align: center;
    margin: 0;
  }
  .navigation-links-right ul li{
    padding: 30px 0;
  }
  .navigation-links-right ul li::after{
    display: none;
  }
  .content h1{
    font-size: 30px;
  }
  .content p{
    font-size: 10px;
    width: 100%;
  }
}
@media(min-width: 1450px){
  .content{
    margin-top: 80px;
  }
  .content h1{
    font-size: 45px;
  }
  .content p{
    font-size: 20px;
    width: 80%;
  }
}