body{
  margin: 0;
  padding: 0;
  background: rgb(22, 182, 102);
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
.form-content-carrier{
  text-align: center;
  margin: auto;
  margin-top: 3%;
  width: 70%;
}
.form-content-header{
  background: rgba(3, 18, 39, 0.911);
  color: white;
}
.form-content-header p, h1{
  margin: 0;
}
.form-content-body{
  background: white;
  padding: 25px;
}
.form-content-body-1, .form-content-body-3{
  display: grid;
  grid-template-columns: 35% 55%;
  width: 70%;
  justify-content: center;
  text-align: left;
  margin: auto;
  gap: 50px;
}
.form-content-body-2{
  display: grid;
  grid-template-columns: 10fr 10fr;
  width: 68.5%;
  justify-content: center;
  text-align: left;
  margin: auto;
  box-sizing: border-box;
}
.form-content-body-4{
  display: grid;
  width: 68.8%;
  grid-template-rows: 30% 15% 20% 20%;
  grid-template-columns: 100%;
  justify-content: center;
  text-align: left;
  margin: auto;
  box-sizing: border-box;
}
.form-content-body-4 p{
  margin: 0;
  width: 100%;
}
.form-content-body-4 input{
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 2px dotted rgba(3, 18, 39, 0.911);
  padding: 5px 0;
  box-sizing: border-box;
}
.form-content-body-1 input, .form-content-body-3 input, select{
  outline: none;
  border: none;
  border-bottom: 2px dotted rgba(3, 18, 39, 0.911);
  
}
select{
  padding-left: 1%;
}
.form-content-body-3 input{
  padding-left: 40%;
}
.lines{
  display: inline;
}