table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

th {
  background-color: #f2f2f2;
}

.calculator-input {
  width: 80px;
  text-align: center;
}

.td input {
  width: 100%;
  box-sizing: content-box;
  text-align: right;
}